<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title >北风</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div id="header-user">
        <img src="static/img/header.jpg">
        <div class="text">
            <h3>北风</h3>
            <p></p>
        </div>
    </div>
    <div id="nav">
        <a>首页</a>
        <a href="http://127.0.0.1:51786/kol">KOL</a>
        <a></a>
        <a></a>
        <a></a>
    </div>
</body>
</html>