<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title >北风博客</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div id="header-user">
        <img src="static/img/header.jpg">
        <div class="text">
            <h3>北风</h3>
            <p>个人网站</p>
        </div>
    </div>
    <div id="nav">
        <a>主页</a>
        <a>个人介绍</a>
        <a>个人介绍</a>
        <a>个人介绍</a>
        <a>简历</a>
    </div>
</body>
</html>